.contact {
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    border: 1px solid;
}

.name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.number {
    display: flex;
    gap: 8px;
    font-size: 24px;
}

.deleteBtn {
    width: 105px;
}

.deleteBtn:hover {
    background-color: #3b3b3b;
}