.link {
    display: flex;
    gap: 35px;
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: #644ef2;
}

.link.active {
    color: #95b4df;
}

.link:hover {
    color: #95b4df;
}